<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Powerball", root_path %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Powerball", root_path %></li>
        <li><%= link_to "Megaball", megaball_path %></li>
        <li><%= link_to "Cash4life", cash4life_path %></li>
        <li><%= link_to "PA Match 6", match6_path %></li>
        <li><%= link_to "PA Cash 5", cash5_path %></li>
        <li><%= link_to "PA Treasurehunt", treasurehunt_path %></li>
      </ul>
    </nav>
  </div>
</header>